body {
  background-color: #000000;
  background-size: cover;
}

body .main-container {
  max-width: 500px;
}

a:link, a:visited {
  color: yellow;
}

a:hover, a:active {
  background-color: transparent;
}

h1 {
  font-size: 40px;
  color: white;
}

h2 {
  font-size: 30px;
  color: white;
}

p {
  font-size: 30px;
}

div {
  font-size: 12px;
}